:root {
    --primaryColor: #fab1a0;
    --secondaryColor: #0984e3;
    --yellowColor: #fdcb6e;
    --textColor: #111;
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--textColor);
}
html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.header {
    padding: 16px;
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-links {
    width: 100%;
    gap: 16px;
    width: 100%;
    display: none;
    margin: 0;
}

.menu {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s;
}
.menu:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-links a {
    padding: 0.25rem;
    /*keep contrast for accessibility*/
    /*keeping underline for accessibility*/
    text-decoration: none;
    transition: all 0.25s;
    color: midnightblue;
    background-image: linear-gradient(120deg, #fff, #fff);
}
.nav-links a:hover {
    color: #111;
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: flex;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .menu {
        display: none;
    }
}

li {
    list-style: none;
}

/*this is cool, I should use in all application and extract this logic as component or class    */
a {
    color: var(--textColor);
    text-decoration: none;
    background-color: transparent;
    background-image: linear-gradient(120deg, #111, #111);
    background-position: 0 90%;
    background-repeat: no-repeat;
    background-size: 100% 0.05em;
    padding: 0.5em 0.1em;
    transition:
        background-size 0.1s ease-in,
        color 0.1s ease-in;
}

a:hover {
    color: #fff;
    background-size: 100% 100%;
}

ul {
    padding: 0;
}

.content {
    padding: 2rem;
    background-color: #dfe6e9;
}

.section {
    background-color: var(--yellowColor);
    padding: 2rem;
}
.section.--yellow {
    background-color: var(--yellowColor);
}

footer {
    padding: 16px;
    background-color: var(--secondaryColor);
    display: flex;
    align-items: center;
    gap: 16px;
}
