---
import BaseLayout from "../layouts/BaseLayout.astro";
const primaryColor = "#fab1a0";
---

<style define:vars={{ primaryColor }}>
    h1 {
        font-weight: bold;
        font-size: 6rem;
    }
    .block {
        background-color: #fab1a0;
        padding: 2rem;
    }
</style>

<BaseLayout title="Eu">
    <div class="block">
        <h1>Astro is fine :)</h1>
        <p>Hi, I am Guilherme Galabarof</p>
    </div>
</BaseLayout>
