---
import BaseLayout from "../layouts/BaseLayout.astro";
import RandomDuck from "../components/RandomDuck.jsx";
---

<style>
    h1 {
        font-weight: bold;
        font-size: 6rem;
    }
</style>

<BaseLayout title="Guilherme Galabarof">
    <main>
        <div class="section --yellow">
            <h1>Astro is fine :)</h1>
            <p>Hi, I am Guilherme Galabarof</p>
            <p>And this below is a react component getting new ducks</p>
            <RandomDuck client:load />
        </div>
    </main>
</BaseLayout>
