<nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-around;
        background-color: var(--primaryColor);
        padding: 1rem;
    }
    nav a {
        /*keep contrast for accessibility*/
        color: midnightblue;
        /*keeping underline for accessibility*/
        /*text-decoration: none;*/
    }
</style>
